version: '3'

services:
  web:
    build: .
    container_name: cashmatters
    command: gunicorn cashmatters.wsgi:application --bind 0.0.0.0:8000 --workers 3
    volumes:
      - .:/app
      - static_volume:/app/static
      - media_volume:/app/media
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0

volumes:
  static_volume:
  media_volume:
