@font-face {
  font-family: "ITC Avant Garde Gothic";
  src: url("../fonts/itc-avant-garde/ITCAvantGardeGothic-Medium.woff2") format("woff2"),
       url("../fonts/itc-avant-garde/ITCAvantGardeGothic-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}